<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container mt-4 mb-4" style="min-height: 80vh;">
    <div class="row border">
        <div class="col-md-2 border p-2 pb-3">
            <div class="border-bottom p-1">
                <div class="avatar">
                <img src="../../assets/person_icon.png" class="border avatar-photo" height="108" width="108">
                </div>
                <div class="user-name">
                    Username
                </div>
            </div>
            <a (click)="profileMethod()" class="text-decoration-none text-dark">
                <div class="p-2 mt-2 profile-nav" id="align-items">
                    <span class="material-symbols-outlined ">person_edit </span>
                    &nbsp; &nbsp; &nbsp; My Infromation
                </div>
            </a>
            <a (click)="myBlogsMethod()" class="text-decoration-none text-dark">
                <div class="p-2 mt-2 profile-nav" id="align-items">
                    <span class="material-symbols-outlined">inventory </span>
                    &nbsp; &nbsp; &nbsp; My Blogs
                </div>
            </a>
            <a (click)="addBlogMethod()" class="text-decoration-none text-dark" >
                <div class="p-2 mt-2 profile-nav" id="align-items">
                    <span class="material-icons">add_circle_outline</span>
                    &nbsp; &nbsp; &nbsp; Add Blog
                </div>
            </a>
            <a (click)="myProjectsMethod()" class="text-decoration-none text-dark" >
                <div class="p-2 mt-2 profile-nav" id="align-items">
                    <span class="material-icons">
                        article
                        </span>
                    &nbsp; &nbsp; &nbsp;  My Projects
                </div>
            </a>
            <a (click)="addProjectMethod()" class="text-decoration-none text-dark" >
                <div class="p-2 mt-2 profile-nav" id="align-items">
                    <span class="material-icons">note_add</span>
                    &nbsp; &nbsp; &nbsp; Add Project
                </div>
            </a>
        </div>
        <div class="col-md-10 border p-3">
            <app-profile *ngIf="profile"></app-profile>
            <app-my-blogs *ngIf="myBlogs"></app-my-blogs>
            <app-my-projects *ngIf="myProjects"></app-my-projects>
            <app-add-blog *ngIf="addBlog"></app-add-blog>
            <app-add-project *ngIf="addProject"></app-add-project>
        </div>
    </div>
</div>