<div class="contain my-3 border shadow">
    <div class="wrapper">
        <div class="form">
            <h4>GET IN TOUCH</h4>
            <h2 class="form-headline">Send us a message</h2>
            <form id="submit-form">
                <p>
                    <input id="name" name="name" class="form-input" type="text" placeholder="Your Name*">
                    <small class="name-error"></small>
                </p>
                <p>
                    <input id="email" name="email" class="form-input" type="email" placeholder="Your Email*">
                    <small class="name-error"></small>
                </p>
                <p class="full-width">
                    <input id="company-name" name="query" class="form-input" type="text" placeholder="Query*" required>
                    <small></small>
                </p>
                <p class="full-width">
                    <textarea minlength="20" name="message" id="message" cols="30" rows="7" placeholder="Your Message*"
                        required></textarea>
                    <small></small>
                </p>
                <p class="full-width">
                    <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive
                    communications by call / email about Company's services.
                </p>
                <p class="full-width">
                    <input type="submit" class="submit-btn" value="Submit">
                    <!-- <button class="reset-btn">Reset</button> -->
                </p>
            </form>
        </div>

        <div class="contacts contact-wrapper">

            <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit <span class="highlight-text-grey">Lorem ipsum </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolor laborum, veniam ab molestias voluptatum deserunt aspernatur </li>
                <span class="hightlight-contact-info">
                    <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> help&#64;sikkim-mart.com</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text">+91 11 1111
                            2900</span></li>
                </span>
            </ul>
        </div>
    </div>
</div>

