<router-outlet></router-outlet>
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"><i>Techlearn</i> is your go-to online hub for all things tech-related 💻. Whether you're a
          seasoned developer, a budding coder, or just someone curious about technology, Techlearn is the place to be.
          Here, you can share your expertise through engaging blogs ✍️ and showcase your latest projects 🚀. Our vibrant
          community fosters innovation and collaboration, connecting you with like-minded tech enthusiasts 🌐. Join
          Techlearn to explore a world of technology insights, discover inspiring projects, and contribute your unique
          tech journey to our ever-growing repository of knowledge 📚. Let's build the future together!</p>
      </div>

      <!-- <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div> -->

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="https://ritesh-s-protfolio.vercel.app/">Portfolio</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://github.com/Ritesh18117"><i class="fab fa-github"></i></a></li>
          <li><a class="dribbble" href="https://ritesh-s-protfolio.vercel.app/"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/ritesh-kumar-gupta-3648ab187/"><i
                class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-class">
    <div class="container">
      <ul class="nav justify-content-center pb-3 mb-3">
        <div class="nav-sticky nav justify-content-center">
          <li class="nav-item"><a routerLink="/" class="nav-link px-2">Home</a></li>
          <li class="nav-item"><a routerLink="/blogs" class="nav-link px-2">Blogs</a></li>
          <li class="nav-item"><a routerLink="/projects" class="nav-link px-2">Projects</a></li>
          <li class="nav-item"><a routerLink="/about" class="nav-link px-2">About</a></li>
          <li class="nav-item"><a routerLink="/contact" class="nav-link px-2">Contact</a>
          </li>
        </div>
        <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li> -->
      </ul>
    </div>
  </div>
</footer>