<h2 class="border-bottom p-3">My Blogs</h2>
<div class="d-flex flex-wrap" >
  <ng-container *ngFor="let blog of blogs">
  <div class="" >
    <div class="card m-2">
      <!-- <p class="card__title">{{blog.title}}</p> -->
      <img src="{{blog.image}}" alt="" class="">
      <div class="card__content">
        <div class="d-flex">
          <div class="">
            <p class="card__title">{{blog.title}}</p> 
            <p class="card__description">{{blog.content.split('. ')[0]}}</p>
          </div>
          <div class="">
            <i (click)="delete(blog._id)" style="color: red;" class="material-icons">delete_forever</i>
            <i [routerLink]="['/blog/edit', blog._id]" class="material-icons">create</i>
          </div>
        </div>
      </div>
    </div>
    <div class="card__title d-flex justify-content-center">{{blog.title}}</div>
  </div>
</ng-container>
</div>

